.prog-width {
  width: 6px;
}
.prog-height {
  height: 12px;
}
.progress {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tick {
  background-color: black;
}
.vert {
  width: 1px;
}
.horz {
  height: 1px;
}
div {
  color:#0D0F0B;
}

@font-face {
  font-family: synt;
  src: url(fonts/ABCSynt-Regular.otf);
}

@font-face {
  font-family: diatype;
  src: url(fonts/ABCDiatypeMono-Light.otf);
}
button#start, button#reset {
  /*padding: 12px 45px;*/
  width: 140px;
  height: 50px;
  border: none;
  font-size: 18px;
  font-family: diatype;
  background-color: #0D0F0B;
  color: #FFF8EF;
}